body {
    font-family:Open Sans,Arial;
    color:#535353;
    font-size:1.125em;
    margin:2em auto;
    max-width:50em;
    padding:1em;
    line-height:1.6;
}
html.inverted html {
    background-color:#fcf8ef
}
a {
    color:#07a
}
a:visited {
    color:#941352
}
h1 {
    padding-top:2em;
}
code {
    font-size:1.4em;
    font-weight: bold;
    background-color: #e4e4e4;
    margin: auto 4px;
    padding: 4px 6px;
    border-radius: 2px;
}
.center {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    h1 {
        padding-top:0;
        font-size: 2em;
    }
    body {
        text-align:left;
        font-size: 1.2em;
    }
}
